@inherits LayoutComponentBase

<div class="layout">

    <aside class="sidebar">
        <nav class="menu">

            <h3>MotoFlow</h3>

            <a href="">Dashboard</a>
            <a href="members">Membros</a>
            <a href="fees">Mensalidades</a>

        </nav>
    </aside>

    <main class="content">
        @Body
    </main>

</div>